{
  "extends": ["google", "prettier"],
  "plugins": [],
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
